<div class="container">
  <br>
  <form #myform="ngForm">
    <div class="form-group">
      <label>Author</label>
      <input type="text" name="author" #author="ngModel" [(ngModel)]="authors" class="form-control"  placeholder="Author">
    </div>
    <div class="form-group">
      <label>Blog Title</label>
      <input type="text" name="blogTitle" #blogTitle="ngModel" [(ngModel)]="titleBlog" class="form-control"  placeholder="Blog Title">
    </div>
    <div class="form-group">
      <label>Image URL</label>
      <input type="text" class="form-control" name="image" #image="ngModel" [(ngModel)]="imageURL"  placeholder="Image URL">
    </div>
    <div class="form-group">
      <label>Select Category</label>
      <select [(ngModel)]="selectedCategory.id" class="form-control" name="dropdown" #dropdown="ngModel" (input)="onInput($event)">
        <option *ngFor="let category of categories" value= {{category.id}}>{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" [(ngModel)]="contentData" name="content" #content="ngModel" rows="9"></textarea>
    </div>
    <button class="btn btn-flat" (click)="submitForm()">Submit</button>
  </form>
  <br>
</div>

